*.config
*.creator
*.files
*.includes
*.user
*.swp
nbproject/
cmake-build-*
build*/
.idea/
src/PetriEngine/PQL/PQLQueryParser.parser.cpp
src/PetriEngine/PQL/PQLQueryParser.parser.hpp
src/PetriEngine/PQL/PQLQueryTokens.lexer.cpp
*.parser.cpp
*.parser.hpp
*.lexer.cpp
.vscode
